@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-950">
    <div id="toast" class="mx-4 sm:mx-auto h-screen" style="max-width: 520px;">
        <ejs-toast #toast cssClass="!w-full" [position]="{ X: 'Center' }" width="100%" timeOut="0" target="#toast" newestOnTop="true" (created)="toast.show();" aria-label="features notification" role="alert">
            <ng-template #content>
                <div class="flex gap-4">
                    <div class="w-12 sm:w-2/6 shrink-0">
                        <img class="w-full rounded" src="assets/images/notification/feature.jpg" alt="features picture" />
                    </div>
                    <div class="flex flex-col justify-between w-auto sm:w-4/6">
                        <div class="flex flex-col gap-2 text-gray-900 dark:text-white">
                            <h1 class="text-sm sm:text-xl font-semibold">Hey! Did you see new features?</h1>
                            <p class="leading-5">Check out the latest updates to enhance your experience. Explore them now or view them later.</p>
                        </div>
                        <div class="flex justify-end sm:justify-start gap-2.5 pb-1 pr-1 mt-3 sm:mt-0">
                            <button ejs-button class="e-primary e-flat" content="Let’s see" type="button" aria-label="let’s see" role="button"></button>
                            <button ejs-button class="e-flat" content="Not now" type="button" aria-label="not now" role="button"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ejs-toast>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div id="toast" class="mx-3 mx-sm-auto vh-100" style="max-width: 522px;">
        <ejs-toast #toast cssClass="w-100" [position]="{ X: 'Center' }" width="100%" timeOut="0" target="#toast" newestOnTop="true" (created)="toast.show();" aria-label="features notification" role="alert">
            <ng-template #content>
                <div class="d-flex gap-3 p-1">
                    <div class="col-2 col-sm-4 flex-shrink-0">
                        <img class="rounded w-100" src="assets/images/notification/feature.jpg" alt="features picture" />
                    </div>
                    <div class="d-flex flex-column justify-content-between col-9 col-sm-8">
                        <div class="d-flex flex-column gap-2 text-body">
                            <h1 class="fs-6 fw-bold m-0">Hey! Did you see new features?</h1>
                            <p class="lh-base m-0">Check out the latest updates to enhance your experience. Explore them now or view them later.</p>
                        </div>
                        <div class="d-flex justify-content-end justify-content-sm-start gap-3 gap-sm-2 mt-3 mt-sm-0">
                            <button ejs-button class="e-primary e-flat" content="Let’s see" type="button" aria-label="let’s see" role="button"></button>
                            <button ejs-button class="e-flat ms-sm-1" content="Not now" type="button" aria-label="not now" role="button"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ejs-toast>
    </div>
</section>

}