#floating-article .e-list-item {
    height: auto;
    padding: 0;
}

#floating-article .e-dlg-header-content,
#floating-article .e-dlg-content {
    border: 0;
    border-radius: 0;
    padding: 0 !important;
}