#floating-chat .e-list-item {
    border: none;
    height: auto;
    padding: 8px;
}

#floating-chat .e-listview .e-list-item.e-active,
#floating-chat .e-list-item:hover {
    background-color: transparent;
}

#floating-chat .e-dlg-header-content,
#floating-chat .e-dlg-content,
#floating-chat .e-footer-content {
    border: 0 !important;
    padding: 0 !important;
}