#dialog-container .e-dialog .e-footer-content {
    border: inherit;
    border-inline: none;
    border-bottom: 0;
}

#upload-template .e-file-select-wrap {
    display: none;
}

#upload-template .e-upload {
    float: none;
    border: none;
}