#notification .e-dlg-header-content,
#notification .e-dlg-content,
#notification .e-footer-content {
    border: 0;
    border-radius: 0;
    padding: 0 !important;
    background-color: transparent !important;
}

#notification .e-list-item {
    height: auto !important;
    padding: 0 !important;
}