@if (currentTheme === 'tailwind') {

<section>
    <div id="dialog-container" class="relative flex justify-center" style="min-height: 580px;">
        <button ejs-button class="h-fit my-5" (click)="dialog?.show()" type="button" aria-label="personal information" role="button">Personal Information</button>
        <ejs-dialog #dialog class="rounded-none sm:rounded-lg sm:m-4" target="#dialog-container" [isModal]="true" [showCloseIcon]="true" [visible]="false" width="400px" (open)="$event.preventFocus = true" aria-label="update personal information" role="dialog">
            <ng-template #header>
                <p class="font-semibold leading-normal">Personal Information</p>
            </ng-template>
            <ng-template #content>
                <form action="#" class="space-y-4 text-xs font-medium leading-normal text-gray-700 dark:text-gray-200 sm:space-y-3" onsubmit="event.preventDefault();">
                    <div class="flex flex-col gap-1">
                        <label>Full Name <span class="text-red-600 font-normal dark:text-red-400">*</span></label>
                        <ejs-textbox type="text" placeholder="Enter your full name" aria-label="enter your full name" role="textbox"></ejs-textbox>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Email Address <span class="text-red-600 font-normal dark:text-red-400">*</span></label>
                        <ejs-textbox type="email" placeholder="Enter a valid email address" aria-label="enter a valid email address" role="textbox"></ejs-textbox>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Phone Number (Optional)</label>
                        <ejs-textbox type="tel" placeholder="Enter your phone number" aria-label="enter your phone number" role="textbox"></ejs-textbox>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Job Title</label>
                        <ejs-dropdownlist placeholder="Select your job title" aria-label="choose a job title" role="listbox"></ejs-dropdownlist>
                    </div>
                    <div class="flex flex-col gap-1">
                        <label>Department (Optional)</label>
                        <ejs-textbox type="text" placeholder="Enter the department" aria-label="enter the department name" role="textbox"></ejs-textbox>
                    </div>
                </form>
            </ng-template>
            <ng-template #footerTemplate>
                <div class="flex flex-row justify-end gap-2 sm:gap-1 mt-1 mb-2">
                    <button ejs-button cssClass="grow sm:grow-0 !ml-0" type="button" aria-label="cancel" role="button">Cancel</button>
                    <button ejs-button cssClass="e-primary grow sm:grow-0" type="submit" aria-label="submit" role="button">Submit</button>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section>
    <div id="dialog-container" class="position-relative d-flex align-items-start" style="min-height: 580px;">
        <button ejs-button class="e-outline mx-auto my-3" (click)="dialog?.show()" type="button" aria-label="personal information" role="button">Personal Information</button>
        <ejs-dialog #dialog class="rounded-3 m-sm-2" target="#dialog-container" [isModal]="true" [showCloseIcon]="true" [visible]="false" width="400px" (open)="$event.preventFocus = true" aria-label="update personal information" role="dialog">
            <ng-template #header>
                <p class="fw-bold mb-0 text-body">Personal Information</p>
            </ng-template>
            <ng-template #content>
                <form action="#" class="row gap-3 gap-sm-2 gy-sm-1 text-body-secondary fw-normal small" onsubmit="event.preventDefault();">
                    <div class="d-flex flex-column gap-1 mt-0">
                        <label>Full Name <span class="text-danger">*</span></label>
                        <ejs-textbox type="text" placeholder="Enter your full name" aria-label="enter your full name" role="textbox"></ejs-textbox>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <label>Email Address <span class="text-danger">*</span></label>
                        <ejs-textbox type="email" placeholder="Enter a valid email address" aria-label="enter a valid email address" role="textbox"></ejs-textbox>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <label>Phone Number (Optional)</label>
                        <ejs-textbox type="tel" placeholder="Enter your phone number" aria-label="enter your phone number" role="textbox"></ejs-textbox>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <label>Job Title</label>
                        <ejs-dropdownlist placeholder="Select your job title" aria-label="choose a job title" role="listbox"></ejs-dropdownlist>
                    </div>
                    <div class="d-flex flex-column gap-1">
                        <label>Department (Optional)</label>
                        <ejs-textbox type="text" placeholder="Enter the department" aria-label="enter the department name" role="textbox"></ejs-textbox>
                    </div>
                </form>
            </ng-template>
            <ng-template #footerTemplate>
                <div class="d-flex justify-content-end gap-2 gap-sm-1 py-1">
                    <button ejs-button cssClass="flex-grow-1 flex-sm-grow-0 ms-0" type="button" aria-label="cancel" role="button">Cancel</button>
                    <button ejs-button cssClass="e-primary flex-grow-1 flex-sm-grow-0" type="submit" aria-label="submit" role="button">Submit</button>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
</section>

}