@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-950">
    <div class="h-screen flex justify-center p-4 sm:p-6">
        <div class="w-full" style="max-width: 1080px;">
            <div class="flex justify-between flex-col sm:flex-row sm:items-start gap-4">
                <div>
                    <h1 class="text-base font-medium text-gray-900 dark:text-white">Annual Revenue Overview ($)</h1>
                    <p class="text-sm text-gray-500 dark:text-gray-400 mt-2">Data for the year 2024</p>
                </div>
                <div class="flex justify-between gap-4">
                    <button #rangeDropdown ejs-dropdownbutton class="e-outline" content="2024" [items]="[{text:'2024'},{text:'2023'},{text:'2022'},{text:'2021'},{text:'2020'}]" type="button" aria-label="choose a year" role="button"></button>
                    <button ejs-button class="e-outline hidden sm:block" content="View Report" type="button" aria-label="view report" role="button"></button>
                    <button ejs-button class="e-outline block sm:hidden" iconCss="e-icons e-description" content=" " type="button" aria-label="view report" role="button"></button>
                </div>
            </div>
            <div class="mt-5">
                <ejs-chart #chart [chartArea]="{border: {width: 0}}" width="100%" height="360px" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltip" useGroupingSeparator="true" (load)="chartLoad($event,'Tailwind3','Tailwind3Dark')" aria-label="revenue analysis" role="region">
                    <e-series-collection>
                        <e-series [dataSource]="chartData" type="Spline" xName="x" yName="y" width="3" fill="#267DDA" [marker]="{ visible: true, width: 8, height: 8, isFilled:true, border:{color:'#FFFFFF'}}"></e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div class="vh-100 d-flex justify-content-center p-4 p-sm-5">
        <div class="w-100" style="max-width: 1080px;">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-start">
                <div>
                    <h1 class="h6 fw-medium text-body">Annual Revenue Overview ($)</h1>
                    <p class="text-body-secondary mt-2">Data for the year 2024</p>
                </div>
                <div class="d-flex justify-content-between gap-2">
                    <button #rangeDropdown ejs-dropdownbutton type="button" class="e-outline" content="2024" [items]="[{text:'2024'},{text:'2023'},{text:'2022'},{text:'2021'},{text:'2020'}]" aria-label="choose a year" role="button"></button>
                    <button ejs-button class="e-outline d-none d-sm-block" content="View Report" type="button" aria-label="view report" role="button"></button>
                    <button ejs-button class="e-outline d-block d-sm-none" iconCss="e-icons e-description" content=" " type="button" aria-label="view report" role="button"></button>
                </div>
            </div>
            <div class="mt-4">
                <ejs-chart #chart [chartArea]="{border: {width: 0}}" width="100%" height="360px" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltip" useGroupingSeparator="true" (load)="chartLoad($event,'Bootstrap5','Bootstrap5Dark')" aria-label="revenue analysis" role="region">
                    <e-series-collection>
                        <e-series [dataSource]="chartData" type="Spline" xName="x" yName="y" width="3" fill="#006EEF" [marker]="{ visible: true, width: 8, height: 8, isFilled:true, border:{color:'#FFFFFF'}}"></e-series>
                    </e-series-collection>
                </ejs-chart>
            </div>
        </div>
    </div>
</section>

}