@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-950">
    <div id="toast" class="mx-4 sm:mx-auto h-screen" style="max-width: 379px;">
        <ejs-toast #toast cssClass="!w-full sm:!m-0 !p-0" [position]="{ X: 'Center' }" width="100%" timeOut="0" target="#toast" newestOnTop="true" (created)="toast.show();" aria-label="alert notification" role="alert">
            <ng-template #title>
                <div class="flex justify-between items-center p-4 pb-2 sm:pb-1">
                    <div class="flex items-center gap-2">
                        <span class="sf-icon-clock-02 text-2xl !leading-6 !text-gray-500 dark:!text-gray-300"></span>
                        <h1 class="text-sm text-gray-900 dark:text-white font-bold">Trial Ending Soon</h1>
                    </div>
                    <button ejs-button class="e-flat e-round" iconCss="e-icons e-close !text-base" type="button" aria-label="hide alert" role="button"></button>
                </div>
            </ng-template>
            <ng-template #content>
                <div class="e-bigger flex flex-col gap-2 p-4 pt-0">
                    <p class="text-gray-700 dark:text-gray-300 leading-5 mb-1">Your free trial will end in two days. Upgrade now to keep your premium features!</p>
                    <div class="h-32">
                        <img class="w-full h-full object-cover rounded" src="assets/images/notification/feature.jpg" alt="feature image" />
                    </div>
                    <button ejs-button class="e-primary w-max ml-auto mt-2" content="Upgrade Now" type="button" aria-label="upgrade now" role="button"></button>
                </div>
            </ng-template>
        </ejs-toast>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div id="toast" class="mx-3 mx-sm-auto vh-100" style="max-width: 379px;">
        <ejs-toast #toast cssClass="w-100 m-0 p-0" [position]="{ X: 'Center' }" width="100%" timeOut="0" target="#toast" newestOnTop="true" (created)="toast.show();" aria-label="alert notification" role="alert">
            <ng-template #title>
                <div class="d-flex justify-content-between align-items-center p-1 pb-0">
                    <div class="d-flex align-items-center gap-2">
                        <span class="sf-icon-clock-02 fs-4 text-secondary"></span>
                        <h1 class="fs-6 text-body fw-bold m-0">Trial Ending Soon</h1>
                    </div>
                    <button ejs-button class="e-flat e-round" iconCss="e-icons e-close" type="button" aria-label="hide alert" role="button"></button>
                </div>
            </ng-template>
            <ng-template #content>
                <div class="e-bigger d-flex flex-column gap-2 p-1 pt-0">
                    <p class="text-body m-0">Your free trial will end in two days. Upgrade now to keep your premium features!</p>
                    <div style="height: 132px;">
                        <img class="w-100 h-100 rounded" src="assets/images/notification/feature.jpg" style="object-fit: cover;" alt="feature image" />
                    </div>
                    <button ejs-button class="e-primary w-auto ms-auto mt-3 mt-sm-2" content="Upgrade Now" type="button" aria-label="upgrade now" role="button"></button>
                </div>
            </ng-template>
        </ejs-toast>
    </div>
</section>

}