@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-950">
    <div class="float-right" style="height: 600px;">
        <ejs-sidebar #sidebar class="bg-gray-50 dark:bg-gray-900 !border-l !border-gray-200 dark:!border-gray-700" width="256px" [isOpen]="true" position="Right" showBackdrop="true" aria-label="main navigation menu" role="complementary" style="display: block;">
            <div class="py-6 h-screen">
                <div class="flex justify-between items-center px-3 mb-2">
                    <span class="text-base text-gray-600 dark:text-gray-400">Market Cap</span>
                    <button ejs-button cssClass="e-medium e-icons e-more-horizontal-1 e-flat" type="button" aria-label="more options" role="button"></button>
                </div>
                <ejs-listview class="border-0" [dataSource]="data" [template]="itemTemplate" aria-label="bitcoin trading listings" role="list">
                    <ng-template #itemTemplate let-data>
                        <div class="e-list-wrapper flex items-center justify-between">
                            <div class="flex items-center">
                                <span class="e-avatar e-avatar-xsmall e-avatar-circle">
                                    <img src="assets/images/side-panel/crypto-sidebar/{{data.image}}" alt="profile picture" />
                                </span>
                                <span class="text-base ml-2 text-gray-700 dark:text-gray-300">{{data.name}}</span>
                                <span class="ml-1.5 text-xs text-gray-500 dark:text-gray-400" style="line-height: 18px;">BTC</span>
                            </div>
                            <div>
                                <span class="text-base text-gray-700 dark:text-gray-300 ml-6">{{data.currentValue}}</span>
                                <span class="text-base ml-1.5 text-red-600 dark:text-red-400">3%</span>
                            </div>
                        </div>
                    </ng-template>
                </ejs-listview>
                <div class="py-4 px-3">
                    <button ejs-button cssClass="e-outline" content="View More" type="button" aria-label="view more" role="button"></button>
                </div>
            </div>
        </ejs-sidebar>
    </div>
</section>
<!-- SB Code - Start -->
<div class="p-3 top-0 right-0 absolute">
    <button ejs-button cssClass="e-large e-icons e-chevron-left e-round" type="button" (click)="sidebar?.show()" aria-label="expand menu" role="button"></button>
</div>
<!-- SB Code - End -->

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div class="float-right" style="height: 600px;">
        <ejs-sidebar #sidebar width="256px" [isOpen]="true" position="Right" aria-label="main navigation menu" showBackdrop="true" role="complementary" style="display: block;">
            <div class="py-4 vh-100">
                <div class="d-flex justify-content-between align-items-center mb-2 px-2 ms-1">
                    <span class="fs-6 text-body-secondary">Market Cap</span>
                    <button ejs-button cssClass="e-medium e-icons e-more-horizontal-1 e-flat" type="button" aria-label="more options" role="button"></button>
                </div>
                <ejs-listview class="border-0 e-bigger" [dataSource]="data" [template]="itemTemplate" aria-label="bitcoin trading listings" role="list">
                    <ng-template #itemTemplate let-data>
                        <div class="e-list-wrapper d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span class="e-avatar e-avatar-xsmall e-avatar-circle">
                                    <img src="assets/images/side-panel/crypto-sidebar/{{data.image}}" alt="profile picture" />
                                </span>
                                <span class="text-body fs-6 ms-2">{{data.name}}</span>
                                <span class="ms-1 text-body-secondary !small" style="line-height: 18px;">BTC</span>
                            </div>
                            <div>
                                <span class="text-body fs-6">{{data.currentValue}}</span>
                                <span class="fs-6 ms-2 text-danger">3%</span>
                            </div>
                        </div>
                    </ng-template>
                </ejs-listview>
                <div class="mt-3 ms-2 ps-1">
                    <button ejs-button cssClass="e-outline" content="View More" type="button" aria-label="view more" role="button"></button>
                </div>
            </div>
        </ejs-sidebar>
    </div>
</section>
<!-- SB Code - Start -->
<div class="py-3 px-1 position-absolute top-0 end-0">
    <button ejs-button cssClass="e-large e-icons e-chevron-left e-round" type="button" (click)="sidebar?.show()" aria-label="expand menu" role="button"></button>
</div>
<!-- SB Code - End -->

}