#floating-contact .e-dlg-header-content,
#floating-contact .e-dlg-content,
#floating-contact .e-footer-content {
    border: 0 !important;
    padding: 0 !important;
}

#floating-contact .e-upload {
    border: none;
}

#floating-contact .e-upload .e-file-select-wrap {
    padding: 0;
}

#floating-contact.e-popup.e-popup-open.e-dialog {
    max-height: 580px !important;
}