@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-950">
    <div class="max-w-4xl mx-auto px-4 py-6 sm:px-6 lg:px-5 sm:pt-20">
        <p class="text-lg font-medium sm:mb-6 mb-5 text-gray-900 dark:text-white">Product Return Request</p>
        <div class="sm:mb-8 mb-5" [style]="stepperStyle">
            <ejs-stepper #stepper [orientation]="stepperOrientation" [labelPosition]="labelPos">
                <e-steps>
                    <e-step iconCss="e-icons e-circle-check" label="My Products"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Return Reason"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Pickup Option"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Refund Choice"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Confirmation"></e-step>
                </e-steps>
            </ejs-stepper>
        </div>
        <div>
            <p class="mb-4 text-gray-900 font-medium dark:text-white">Select the product you want to return:</p>
            <div class="mb-6">
                <ejs-grid [dataSource]="data" width="100%" rowHeight="60" gridLines="None" class="e-bigger" allowTextWrap="true" [textWrapSettings]="wrapOption" role="grid">
                    <e-columns>
                        <e-column type="checkbox" width="40"></e-column>
                        <e-column field="product" headerText="Product" width="488">
                            <ng-template #template let-data>
                                <div class="flex items-center">
                                    <div class="e-avatar e-avatar-small mr-6 shrink-0">
                                        <img src="assets/images/return-block/return-form/{{data.product.productImage}}.png" alt="{{data.product.productName | lowercase}}" />
                                    </div>
                                    <p class="text-base text-gray-900 dark:text-white line-clamp-2">{{data.product.productName}}</p>
                                </div>
                            </ng-template>
                        </e-column>
                        <e-column field="orderNumber" headerText="Order Number" width="150"></e-column>
                        <e-column field="returnTerm" headerText="Return Term" width="150" format="dd/MM/y"></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
            <div class="flex justify-end lg:gap-3 gap-4">
                <button ejs-button class="grow sm:grow-0" type="button" aria-label="cancel" role="button">Cancel</button>
                <button ejs-button isPrimary="true" class="grow sm:grow-0" type="button" aria-label="next" role="button">Next</button>
            </div>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div class="container-lg py-4 px-3 px-sm-4" style="max-width: 896px;">
        <p class="h5 fw-bold mb-3 mb-sm-4 text-body">Product Return Request</p>
        <div class="mb-4" [style]="stepperStyle">
            <ejs-stepper #stepper [orientation]="stepperOrientation" [labelPosition]="labelPos">
                <e-steps>
                    <e-step iconCss="e-icons e-circle-check" label="My Products"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Return Reason"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Pickup Option"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Refund Choice"></e-step>
                    <e-step iconCss="e-icons e-circle-check" label="Confirmation"></e-step>
                </e-steps>
            </ejs-stepper>
        </div>
        <div>
            <p class="h6 mb-4 fw-bold text-body">Select the product you want to return:</p>
            <div class="mb-4">
                <ejs-grid [dataSource]="data" width="100%" rowHeight="60" gridLines="None" class="e-bigger" allowTextWrap="true" [textWrapSettings]="wrapOption" role="grid">
                    <e-columns>
                        <e-column type="checkbox" width="40"></e-column>
                        <e-column field="product" headerText="Product" width="438">
                            <ng-template #template let-data>
                                <div class="d-flex align-items-center">
                                    <div class="e-avatar e-avatar-small flex-shrink-0 rounded-1 me-4">
                                        <img src="assets/images/return-block/return-form/{{data.product.productImage}}.png" alt="{{data.product.productName | lowercase}}" />
                                    </div>
                                    <p class="fs-6 mb-0 lh-base text-body">{{data.product.productName}}</p>
                                </div>
                            </ng-template>
                        </e-column>
                        <e-column field="orderNumber" headerText="Order Number" width="155"></e-column>
                        <e-column field="returnTerm" headerText="Return Term" width="155" format="dd/MM/y"></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
            <div class="d-flex justify-content-end gap-1">
                <button ejs-button class="e-outline flex-grow-1 flex-sm-grow-0 me-2" type="button" aria-label="cancel" role="button">Cancel</button>
                <button ejs-button isPrimary="true" class="flex-grow-1 flex-sm-grow-0" type="button" aria-label="next" role="button">Next</button>
            </div>
        </div>
    </div>
</section>

}
