@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-950">
    <div id="enhanced-prompt" class="py-20" style="min-height: 36rem;">
        <div class="px-4 sm:px-6 flex flex-col-reverse" style="min-height: 20rem;">
            <div class="bg-white dark:bg-gray-800 rounded-md pt-2 pb-3 px-3 mx-auto flex flex-col-reverse" style="max-width: 705px;">
                <span class="e-input-group mt-1 !border-0 !shadow-none">
                    <ejs-textarea #textarea placeholder="Enter prompt" rows="1" cols="300" resizeMode="None" (input)="adjustHeight()" aria-label="enter the prompt" role="textbox" style="max-height: 10rem;"></ejs-textarea>
                    <span style="bottom: 7px; position: absolute; right: 5px;">
                        <button ejs-button class="e-flat e-icons e-assist-send !border-0" type="submit" aria-label="send" role="button" style="pointer-events: none;"></button>
                    </span>
                </span>
                <ejs-chiplist class="gap-1">
                    <e-chips>
                        <e-chip cssClass="e-outline !rounded-md !mx-0" text="Regenerate response"></e-chip>
                        <e-chip cssClass="e-outline !rounded-md !mx-0" text="Use prompt suggestions"></e-chip>
                        <e-chip cssClass="e-outline !rounded-md !mx-0" text="Toggle web search"></e-chip>
                        <e-chip cssClass="e-outline !rounded-md !mx-0" text="Select a tone"></e-chip>
                        <e-chip cssClass="e-outline !rounded-md !mx-0" text="Improve"></e-chip>
                    </e-chips>
                </ejs-chiplist>
            </div>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body-tertiary">
    <div id="enhanced-prompt" class="py-5" style="min-height: 36rem;">
        <div class="d-flex flex-column-reverse px-4 px-sm-5" style="min-height: 22rem;">
            <div class="bg-body rounded py-3 px-3 mx-auto d-flex flex-column-reverse" style="max-width: 675px;">
                <span class="e-input-group mt-1 border-0 shadow-none">
                    <ejs-textarea #textarea placeholder="Enter prompt" rows="1" cols="300" resizeMode="None" (input)="adjustHeight()" aria-label="enter the prompt" role="textbox" style="max-height: 10rem;"></ejs-textarea>
                    <span style="bottom: 7px; position: absolute; right: 5px;">
                        <button ejs-button class="e-flat e-icons e-assist-send border-0" type="submit" aria-label="send" role="button" style="pointer-events: none;"></button>
                    </span>
                </span>
                <ejs-chiplist class="gap-1">
                    <e-chips>
                        <e-chip cssClass="e-outline rounded mx-0" text="Regenerate response"></e-chip>
                        <e-chip cssClass="e-outline rounded mx-0" text="Use prompt suggestions"></e-chip>
                        <e-chip cssClass="e-outline rounded mx-0" text="Toggle web search"></e-chip>
                        <e-chip cssClass="e-outline rounded mx-0" text="Select a tone"></e-chip>
                        <e-chip cssClass="e-outline rounded mx-0" text="Improve"></e-chip>
                    </e-chips>
                </ejs-chiplist>
            </div>
        </div>
    </div>
</section>

}