@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-950">
    <div class="h-screen flex justify-center p-4 sm:p-6">
        <div class="w-full" style="max-width: 650px;">
            <div class="flex justify-between items-center">
                <h2 class="text-base text-gray-900 dark:text-white">Sales Performance</h2>
                <button #mobileDropdown ejs-dropdownbutton class="e-outline block sm:hidden" iconCss="e-icons e-day" [items]="[{text:'Today'},{text:'Yesterday'},{text:'This week'},{text:'Last week'},{text:'This month'},{text:'Last month'}]" type="button" aria-label="choose a range" role="button"></button>
            </div>
            <div class="flex items-center gap-2 mt-5">
                <p class="text-xl font-semibold text-gray-900 dark:text-white">+72.9%</p>
                <div class="flex items-center gap-1 text-green-700 dark:text-green-500 ml-1"><span class="e-icons e-arrow-up !text-sm"></span><p class="text-xs">2.9%</p></div>
                <p class="text-xs text-gray-500 dark:text-gray-400">past 7 days</p>
            </div>
            <div class="flex justify-between mt-2.5">
                <p class="text-sm text-gray-700 dark:text-gray-300">Better than last week</p>
                <button #rangeDropdown ejs-dropdownbutton class="e-outline hidden sm:block" iconCss="e-icons e-day" content="Last month" [items]="[{text:'Today'},{text:'Yesterday'},{text:'This week'},{text:'Last week'},{text:'This month'},{text:'Last month'}]" type="button" aria-label="choose a range" role="button"></button>
            </div>
            <ejs-chart #chart width="100%" height="300px" [chartArea]="{ border: { width: 0 } }" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltip" [legendSettings]="{visible: true,position: 'Top',alignment: 'Near',height: '40px'}" [crosshair]="crosshair" (load)="chartLoad($event,'Tailwind3','Tailwind3Dark')" aria-label="sales growth analysis" role="region">
                <e-series-collection>
                    <e-series [dataSource]="chartData" type="Line" xName="day" yName="xAxis" name="Projected Average" width="1" dashArray="5,5" fill="#FFB900" legendShape="Square"></e-series>
                    <e-series [dataSource]="chartData" type="Line" xName="day" yName="yAxis" name="Sales Growth" width="2" [marker]="{ visible: true, width: 8, height: 8 , isFilled:true }" fill="#01A8B5" legendShape="Square"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div class="vh-100 d-flex justify-content-center align-items-start p-3 p-sm-4">
        <div class="w-100" style="max-width: 650px;">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h6 text-body mb-0">Sales Performance</h2>
                <button #mobileDropdown ejs-dropdownbutton class="e-outline d-block d-sm-none" iconCss="e-icons e-day" [items]="[{text:'Today'},{text:'Yesterday'},{text:'This week'},{text:'Last week'},{text:'This month'},{text:'Last month'}]" type="button" aria-label="choose a range" role="button"></button>
            </div>
            <div class="d-flex align-items-center gap-2 mt-4">
                <p class="fs-5 fw-semibold text-body mb-0">+72.9%</p>
                <div class="d-flex align-items-center gap-1 text-success ms-2"><span class="e-icons e-arrow-up small"></span><p class="small mb-0">2.9%</p></div>
                <p class="small text-body-secondary mb-0">past 7 days</p>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <p class="small text-body-secondary mb-0">Better than last week</p>
                <button #rangeDropdown ejs-dropdownbutton class="e-outline d-none d-sm-block" iconCss="e-icons e-day" content="Last month" [items]="[{text:'Today'},{text:'Yesterday'},{text:'This week'},{text:'Last week'},{text:'This month'},{text:'Last month'}]" type="button" aria-label="choose a range" role="button"></button>
            </div>
            <ejs-chart #chart width="100%" height="300px" [chartArea]="{ border: { width: 0 } }" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [tooltip]="tooltip" [legendSettings]="{visible: true,position: 'Top',alignment: 'Near',height: '40px'}" [crosshair]="crosshair" (load)="chartLoad($event,'Bootstrap5','Bootstrap5Dark')" aria-label="sales growth analysis" role="region">
                <e-series-collection>
                    <e-series [dataSource]="chartData" type="Line" xName="day" yName="xAxis" name="Projected Average" width="1" dashArray="5,5" fill="#FFB900" legendShape="Square"></e-series>
                    <e-series [dataSource]="chartData" type="Line" xName="day" yName="yAxis" name="Sales Growth" width="2" [marker]="{ visible: true, width: 8, height: 8 , isFilled:true }" fill="#00EFA7" legendShape="Square"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
</section>

}