@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-800">
    <div id="dialog" class="relative" style="min-height:800px">
        <ejs-dialog #dialog class="absolute border-b-0 border-t-0" target="#dialog" [position]="{ X: 'right' }" [showCloseIcon]="true" [isModal]="true" width="810px" (open)="$event.preventFocus = true" minHeight="800px" aria-label="advanced filter" role="dialog">
            <ng-template #header>
                <div>
                    <p class="mb-2 font-semibold text-base">Advanced Filters</p>
                    <a href="javascript:void(0);" class="text-primary-600 dark:text-primary-400 text-sm font-semibold">Switch to basic filter</a>
                </div>
            </ng-template>
            <ng-template #content>
                <div class="dialog-content">
                    <p class="text-sm text-gray-500 dark:text-gray-400 pb-4">Apply this rule to the tickets that meet
                        <span class="text-gray-900 dark:text-white font-medium">All</span> of these conditions
                    </p>
                    <div [ngClass]="{'pt-1': recordLength !== 0, 'border border-gray-200 dark:border-gray-600 rounded-lg': true}">
                        <ejs-querybuilder #queryBuilder1 (change)="onRuleUpdate()" [fieldModel] = "{width: '200px'}" [operatorModel] = "{width: '200px'}">
                            <e-columns>
                                <e-column field="Tickets" label="Tickets" type="string"></e-column>
                                <e-column field="Agent Reply Count" label="Agent Reply Count" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="CCs" label="CCs" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="Watchers" label="Watchers" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="Status Category" label="Status Category" type="string" [operators]="filterOperators"></e-column>
                            </e-columns>
                        </ejs-querybuilder>
                        <div [ngClass]="{'border-t': recordLength !== 0, 'py-3 px-5 border-gray-200 dark:border-gray-600 rounded-b-lg': true}">
                            <button ejs-button cssClass="e-primary e-flat" iconCss="e-icons e-plus" type="button" content="Add New" (click)="queryBuilder1.addRules([{}], 'group0')" aria-label="add new" role="button"></button>
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="border-t border-gray-200 dark:border-gray-600 w-full"></div>
                        <p class="text-gray-700 dark:text-white border border-gray-200 dark:border-gray-600 rounded px-3 py-1">AND</p>
                        <div class="border-t border-gray-200 dark:border-gray-600 w-full"></div>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500 dark:text-gray-400 pb-4">Apply this rule to the tickets that meet
                            <span class="text-gray-900 dark:text-white font-medium">Any</span> of these conditions
                        </p>
                        <div [ngClass]="{'pt-1': recordData !== 0, 'border border-gray-200 dark:border-gray-600 rounded-lg': true}">
                            <ejs-querybuilder #queryBuilder2 (change)="onRuleAdd()" [fieldModel] = "{width: '200px'}" [operatorModel] = "{width: '200px'}">
                                <e-columns>
                                    <e-column field="Ticket" label="Tickets" type="string"></e-column>
                                    <e-column field="Agent" label="Agent" type="string"></e-column>
                                    <e-column field="Group" label="Group" type="string"></e-column>
                                    <e-column field="Status" label="Status" type="string"></e-column>
                                    <e-column field="Priority" label="Priority" type="string"></e-column>
                                </e-columns>
                            </ejs-querybuilder>
                            <div [ngClass]="{'border-t': recordData !== 0, 'py-3 px-5 border-gray-200 dark:border-gray-600 rounded-b-lg': true}">
                                <button ejs-button cssClass="e-primary e-flat" iconCss="e-icons e-plus" type="button" content="Add New" (click)="queryBuilder2.addRules([{}], 'group0')" aria-label="add new" role="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <hr class="border-gray-200 dark:border-gray-700" />
            <ng-template #footerTemplate>
                <div class="flex flex-col-reverse sm:flex-row justify-between items-center w-full sm:py-2">
                    <a href="javascript:void(0);" class="text-primary-600 dark:text-primary-400 pt-4 sm:pt-0 text-sm hover:underline">Learn more</a>
                    <div class="flex flex-col sm:flex-row w-full sm:w-auto !ml-0 sm:ml-auto gap-3 mt-2 sm:mt-0">
                        <button ejs-button cssClass="e-outline e-primary" class="border-0 w-full !ml-0 sm:!ml-auto sm:w-auto" type="button" content="Save filter" aria-label="save filter" role="button"></button>
                        <button ejs-button cssClass="e-primary" class="w-full sm:w-auto !ml-0 sm:!ml-auto" type="button" content="Apply" aria-label="apply" role="button"></button>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
</section>
<!-- SB Code - Start -->
<div class="p-3 absolute top-0 right-0">
    <button ejs-button cssClass="e-large e-icons e-chevron-left e-round" type="button" (click)="dialog?.show()" aria-label="expand menu" role="button"></button>
</div>
<!-- SB Code - End -->

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div id="dialog" class="position-relative" style="min-height:800px">
        <ejs-dialog #dialog class="border-0" target="#dialog" [position]="{ X: 'right' }" [showCloseIcon]="true" [isModal]="true" width="810px" (open)="$event.preventFocus = true" minHeight="800px" aria-label="advanced filter" role="dialog">
            <ng-template #header>
                <div>
                    <p class="mb-2 fw-bold fs-6 tet-body lh-sm">Advanced Filters</p>
                    <a href="javascript:void(0);" class="text-primary fw-bold small text-decoration-none lh-sm">Switch to basic filter</a>
                </div>
            </ng-template>
            <ng-template #content>
                <div class="dialog-content">
                    <p class="text-body-secondary fs-6">Apply this rule to the tickets that meet
                        <span class="fw-medium">All</span> of these conditions
                    </p>
                    <div [ngClass]="{'pt-1': recordLength !== 0, 'border rounded-3': true}">
                        <ejs-querybuilder #queryBuilder1 (change)="onRuleUpdate()" [fieldModel] = "{width: '200px'}" [operatorModel] = "{width: '200px'}">
                            <e-columns>
                                <e-column field="Tickets" label="Tickets" type="string"></e-column>
                                <e-column field="Agent Reply Count" label="Agent Reply Count" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="CCs" label="CCs" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="Watchers" label="Watchers" type="string" [operators]="filterOperators"></e-column>
                                <e-column field="Status Category" label="Status Category" type="string" [operators]="filterOperators"></e-column>
                            </e-columns>
                        </ejs-querybuilder>
                        <div [ngClass]="{'border-top': recordLength !== 0, 'p-3 rounded-bottom-3': true}">
                            <button ejs-button cssClass="e-primary e-flat" iconCss="e-icons e-plus" type="button" content="Add New" (click)="queryBuilder1.addRules([{}], 'group0')" aria-label="add new" role="button"></button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <div class="border-top w-100"></div>
                        <p class="text-secondary border border-secondary rounded-1 px-2 py-1 mb-0">AND</p>
                        <div class="border-top w-100"></div>
                    </div>
                    <div>
                        <p class="fs-6 text-body text-opacity-50">Apply this rule to the tickets that meet
                            <span class="fw-medium text-body-secondary">Any</span> of these conditions
                        </p>
                        <div [ngClass]="{'pt-1': recordData !== 0, 'border rounded-3': true}">
                            <ejs-querybuilder #queryBuilder2 (change)="onRuleAdd()" [fieldModel] = "{width: '200px'}" [operatorModel] = "{width: '200px'}">
                                <e-columns>
                                    <e-column field="Ticket" label="Tickets" type="string"></e-column>
                                    <e-column field="Agent" label="Agent" type="string"></e-column>
                                    <e-column field="Group" label="Group" type="string"></e-column>
                                    <e-column field="Status" label="Status" type="string"></e-column>
                                    <e-column field="Priority" label="Priority" type="string"></e-column>
                                </e-columns>
                            </ejs-querybuilder>
                            <div [ngClass]="{'border-top': recordData !== 0, 'p-3 rounded-bottom-3': true}">
                                <button ejs-button cssClass="e-primary e-flat" iconCss="e-icons e-plus" type="button" content="Add New" (click)="queryBuilder2.addRules([{}], 'group0')" aria-label="add new" role="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #footerTemplate>
                <div class="d-flex justify-content-between align-items-sm-center flex-column-reverse flex-sm-row py-1 px-3">
                    <a href="javascript:void(0);" class="text-primary fs-6 text-center pt-3 pt-sm-0 text-decoration-none">Learn more</a>
                    <div class="d-flex flex-column flex-sm-row w-sm-auto ms-0 ms-sm-auto gap-2">
                        <button ejs-button cssClass="e-outline e-primary border-0 ms-0 flex-grow-1 flex-sm-grow-0" type="button" content="Save filter" aria-label="save filter" role="button"></button>
                        <button ejs-button cssClass="e-primary ms-0 flex-grow-1 flex-sm-grow-0 mt-2 mt-sm-0" type="button" content="Apply" aria-label="apply" role="button"></button>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
    </div>
</section>
<!-- SB Code - Start -->
<div class="p-3 position-absolute top-0 end-0">
    <button ejs-button cssClass="e-large e-icons e-chevron-left e-round" type="button" (click)="dialog?.show()" aria-label="expand menu" role="button"></button>
</div>
<!-- SB Code - End -->

}