.e-query-builder,
.e-query-builder .e-rule-list> ::after,
.e-query-builder .e-rule-list> ::before,
.e-query-builder .e-rule-container {
    border: none;
}

.e-query-builder .e-group-header {
    display: none;
}

.e-query-builder .e-group-body {
    padding-left: 0;
}

.e-query-builder .e-group-container,
.e-query-builder .e-rule-list {
    padding: 0 !important;
}

.e-dialog,
.e-dialog .e-dlg-header-content,
.e-dialog .e-footer-content {
    border-radius: 0 !important;
}