@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-800">
    <div style="min-height: 36rem;">
        <div class="pt-4 sm:pt-6">
            <div class="px-4 sm:px-6">
                <ejs-pager class="border-0 bg-transparent !p-0" [template]="pagerTemplate1"></ejs-pager>
                <ng-template #pagerTemplate1>
                    <div class="!flex items-center gap-2">
                        <span class="e-btn-group !shadow-none">
                            <button ejs-button class="e-icons e-chevron-left !text-base" cssClass="e-flat" type="button" aria-label="go to page 1" role="button"></button>
                            <button ejs-button class="e-icons e-chevron-right !text-base" cssClass="e-flat" type="button" aria-label="go to page 2" role="button"></button>
                        </span>
                    </div>
                </ng-template>
            </div>
            <div class="flex justify-between py-3 px-4 sm:px-6">
                <div class="flex items-center">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Sales Activity</h3>
                </div>
                <div class="flex gap-4">
                    <button ejs-button type="button" aria-label="download" role="button">
                        <div class="flex items-center gap-1">
                            <span class="e-icons e-download text-base"></span>
                            <span class="ml-1 hidden md:block">Download</span>
                        </div>
                    </button>
                    <button ejs-button class="block lg:hidden" iconCss="e-icons e-more-vertical-1" type="button" aria-label="more" role="button"></button>
                </div>
            </div>
        </div>
        <div class="border-b border-gray-200 dark:border-gray-600"></div>
        <div class="hidden lg:flex items-center gap-3 mt-3 px-6">
            <ejs-textbox type="text" placeholder="Enter email ID" aria-label="enter email id" role="textbox"></ejs-textbox>
            <button ejs-dropdownbutton #periodDropdown content="Period: Custom" [items]="[{text:'Today'}, {text:'Yesterday'}, {text:'Last 7 Days'}, {text:'Last 30 Days'}, {text:'This Month'}, {text:'Last Month'}, {text:'Custom Range...'}]" type="button" aria-label="choose the period" role="button"></button>
            <span class="w-64">
                <ejs-daterangepicker placeholder="MM/DD/YYYY - MM/DD/YYYY" aria-label="select a date here" role="combobox"></ejs-daterangepicker>
            </span>
            <button ejs-dropdownbutton #productDropdown content="Product: All" [items]="[{text:'All Products'}, {text:'Product A'}, {text:'Product B'}, {text:'Product C'}, {text:'Product D'}, {text:'Custom Selection...'}]" type="button" aria-label="choose the product" role="button"></button>
            <button ejs-dropdownbutton #regionDropdown content="Region: All" [items]="[{text:'All Regions'}, {text:'North America'}, {text:'Europe'}, {text:'Asia-Pacific'}, {text:'South America'}, {text:'Middle East & Africa'}, {text:'Custom Region...'}]" type="button" aria-label="choose the region" role="button"></button>
            <div class="h-5 border-l border-gray-200 dark:border-gray-600"></div>
            <button ejs-button content="Reset" type="button" aria-label="reset" role="button"></button>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div style="min-height: 36rem;">
        <div class="pt-3 pt-sm-4">
            <div class="px-3 px-sm-4">
                <ejs-pager class="border-0 bg-transparent p-0" [template]="pagerTemplate1"></ejs-pager>
                <ng-template #pagerTemplate1>
                    <div class="d-flex align-items-center gap-2">
                        <span class="btn-group shadow-none">
                            <button ejs-button class="e-icons e-chevron-left fs-6" cssClass="e-flat" type="button" aria-label="go to page 1" role="button"></button>
                            <button ejs-button class="e-icons e-chevron-right fs-6" cssClass="e-flat" type="button" aria-label="go to page 2" role="button"></button>
                        </span>
                    </div>
                </ng-template>
            </div>
            <div class="d-flex justify-content-between py-2 my-1 px-3 px-sm-4">
                <div class="d-flex align-items-center">
                    <h3 class="fs-5 fw-bold text-body mb-0">Sales Activity</h3>
                </div>
                <div class="d-flex gap-4">
                    <button ejs-button cssClass="e-outline" type="button" aria-label="download" role="button">
                        <div class="d-flex align-items-center gap-1">
                            <span class="e-icons e-download fs-5"></span>
                            <span class="ms-1 d-none d-md-block">Download</span>
                        </div>
                    </button>
                    <button ejs-button class="d-block d-lg-none" cssClass="e-outline" iconCss="e-icons e-more-vertical-1" type="button" aria-label="more" role="button"></button>
                </div>
            </div>
        </div>
        <div class="border-bottom"></div>
        <div class="d-none d-lg-flex align-items-center gap-3 mt-3 px-4">
            <ejs-textbox type="text" placeholder="Enter email ID" aria-label="enter email id" role="textbox"></ejs-textbox>
            <button ejs-dropdownbutton #periodDropdown cssClass="e-outline" content="Period: Custom" [items]="[{text:'Today'}, {text:'Yesterday'}, {text:'Last 7 Days'}, {text:'Last 30 Days'}, {text:'This Month'}, {text:'Last Month'}, {text:'Custom Range...'}]" type="button" aria-label="choose the period" role="button"></button>
            <span style="width: 242px;">
                <ejs-daterangepicker placeholder="MM/DD/YYYY - MM/DD/YYYY" aria-label="select a date here" role="combobox"></ejs-daterangepicker>
            </span>
            <button ejs-dropdownbutton #productDropdown cssClass="e-outline" content="Product: All" [items]="[{text:'All Products'}, {text:'Product A'}, {text:'Product B'}, {text:'Product C'}, {text:'Product D'}, {text:'Custom Selection...'}]" type="button" aria-label="choose the product" role="button"></button>
            <button ejs-dropdownbutton #regionDropdown cssClass="e-outline" content="Region: All" [items]="[{text:'All Regions'}, {text:'North America'}, {text:'Europe'}, {text:'Asia-Pacific'}, {text:'South America'}, {text:'Middle East & Africa'}, {text:'Custom Region...'}]" type="button" aria-label="choose the region" role="button"></button>
            <div class="border-start border-secondary" style="height: 16px;"></div>
            <button ejs-button cssClass="e-outline" content="Reset" type="button" aria-label="reset" role="button"></button>
        </div>
    </div>
</section>    

}