@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-900">
    <div class="flex items-center justify-center min-h-screen">
        <div class="lg:max-w-2xl w-full m-auto p-2 md:p-6 lg:py-8 lg:px-14">
            <ejs-listview class="!border-0" cssClass="e-list-template" [dataSource]="messages" aria-label="messages" role="list">
                <ng-template #template let-data>
                    <div class="e-list-wrapper !px-1 sm:!px-3 border-b border-gray-200 dark:border-gray-600 !py-3 flex items-start">
                        <span class="e-avatar e-avatar-circle shrink-0">
                            <img src="assets/images/common/avatar/{{data.avatar}}" alt="profile picture" />
                        </span>
                        <span class="ml-3 flex flex-col items-start">
                            <div class="flex justify-between items-center">
                                <span class="e-list-item-header text-base font-semibold text-gray-900 dark:text-white">{{data.name}}</span>
                                <span class="e-badge e-badge-pill ml-2 !px-1.5 border border-gray-200 dark:border-gray-600 flex items-center">{{data.time}}</span>
                            </div>
                            <span class="!text-sm !text-gray-700 dark:!text-gray-200 !whitespace-normal !mt-1 !truncate w-full md:w-full !line-clamp-1">{{data.content}}</span>
                            <span class="flex items-center space-x-4 mt-2">
                                <button ejs-button class="e-flat e-lib" iconCss="e-icons sf-icon-message-circle-reply text-base" type="button" content="Reply" aria-label="reply" role="button"></button>
                                <button ejs-button class="e-flat e-lib" iconCss="e-icons e-eye e-medium" type="button" content="Mark as read" aria-label="mark as read" role="button"></button>
                            </span>
                        </span>
                        <span class="ml-auto">
                            <button ejs-button class="!px-2" cssClass="e-flat" iconCss="e-icons e-medium e-more-horizontal-1" type="button" aria-label="more options" role="button"></button>
                        </span>
                    </div>
                </ng-template>
            </ejs-listview>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container-lg w-100 m-auto p-2 p-md-4" [style]="width">
            <ejs-listview class="border-0" cssClass="e-list-template" [dataSource]="messages" aria-label="messages" role="list">
                <ng-template #template let-data>
                    <div class="e-list-wrapper px-1 px-sm-3 d-flex align-items-start w-100">
                        <span class="e-avatar e-avatar-circle flex-shrink-0">
                            <img src="assets/images/common/avatar/{{data.avatar}}" alt="profile picture" />
                        </span>
                        <div class="ms-2 ps-1 d-flex flex-column flex-grow-1 align-items-start">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="e-list-item-header fs-6 fw-bold">{{data.name}}</span>
                                <span class="e-badge e-badge-pill d-flex align-items-center ms-2 px-2 border border-light-subtle">{{data.time}}</span>
                            </div>
                            <span class="mt-1 text-wrap overflow-hidden" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">{{data.content}}</span>
                            <span class="d-flex align-items-center gap-4 mt-2">
                                <button ejs-button class="e-flat e-lib e-inherit" iconCss="e-icons sf-icon-message-circle-reply" type="button" content="Reply" aria-label="reply" role="button"></button>
                                <button ejs-button class="e-flat e-lib e-inherit" iconCss="e-icons e-eye e-medium" type="button" content="Mark as read" aria-label="mark as read" role="button"></button>
                            </span>
                        </div>
                        <button ejs-button class="px-2" cssClass="e-flat" iconCss="e-icons e-medium e-more-horizontal-1" type="button" aria-label="more options" role="button"></button>
                    </div>
                </ng-template>
            </ejs-listview>
        </div>
    </div>
</section>

}
