@if (currentTheme === 'tailwind') {

<section class="bg-white dark:bg-gray-800">
    <div style="min-height: 36rem;">
        <div class="py-3 px-4 sm:px-6 flex justify-between">
            <div id="breadcrumb" class="flex items-center">
                <ejs-breadcrumb #breadcrumb [enableNavigation]="false" [overflowMode]="overflowMode" [maxItems]="maxItems">
                    <e-breadcrumb-items>
                        <e-breadcrumb-item text="Workflows"></e-breadcrumb-item>
                        <e-breadcrumb-item text="Row Event: Created Employee"></e-breadcrumb-item>
                    </e-breadcrumb-items>
                    <ng-template #separatorTemplate>
                        <span class="e-icons e-chevron-right"></span>
                    </ng-template>
                </ejs-breadcrumb>
            </div>
        </div>
        <div class="flex justify-between px-4 sm:px-6 py-2 border-b border-gray-200 dark:border-gray-600">
            <div class="flex gap-2 items-center">
                <ejs-switch cssClass="e-bigger" [checked]="false" aria-label="switch to draft mode" role="switch" style="width: 50px !important;"></ejs-switch>
                <ejs-chiplist cssClass="e-outline !rounded">
                    <e-chips>
                        <e-chip text="Draft"></e-chip>
                    </e-chips>
                </ejs-chiplist>
            </div>
            <div class="hidden sm:flex gap-3 items-center">
                <button ejs-button content="View all executions" type="button" aria-label="view all executions" role="button"></button>
                <button ejs-button content="Run" type="button" aria-label="run" role="button"></button>
            </div>
            <div class="block sm:hidden">
                <button ejs-button class="block sm:hidden" iconCss="e-icons e-more-vertical-1" type="button" aria-label="more" role="button"></button>
            </div>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div style="min-height: 36rem;">
        <div class="py-3 px-3 px-sm-4 d-flex justify-content-between">
            <div id="breadcrumb" class="d-flex align-items-center">
                <ejs-breadcrumb #breadcrumb [enableNavigation]="false" [overflowMode]="overflowMode" [maxItems]="maxItems">
                    <e-breadcrumb-items>
                        <e-breadcrumb-item text="Workflows"></e-breadcrumb-item>
                        <e-breadcrumb-item text="Row Event: Created Employee"></e-breadcrumb-item>
                    </e-breadcrumb-items>
                    <ng-template #separatorTemplate>
                        <span class="e-icons e-chevron-right"></span>
                    </ng-template>
                </ejs-breadcrumb>
            </div>
        </div>
        <div class="d-flex justify-content-between px-3 px-sm-4 py-2 border-bottom border-light-subtle">
            <div class="d-flex gap-2 align-items-center">
                <ejs-switch cssClass="e-bigger" [checked]="false" aria-label="switch to draft mode" role="switch" style="width: 50px !important;"></ejs-switch>
                <ejs-chiplist cssClass="e-outline rounded">
                    <e-chips>
                        <e-chip text="Draft"></e-chip>
                    </e-chips>
                </ejs-chiplist>
            </div>
            <div class="d-none d-sm-flex gap-3 align-items-center">
                <button ejs-button cssClass="e-outline" content="View all executions" type="button" aria-label="view all executions" role="button"></button>
                <button ejs-button cssClass="e-outline" content="Run" type="button" aria-label="run" role="button"></button>
            </div>
            <div class="d-block d-sm-none">
                <button ejs-button class="d-block d-sm-none" cssClass="e-outline" iconCss="e-icons e-more-vertical-1" type="button" aria-label="more" role="button"></button>
            </div>
        </div>
    </div>
</section>    

}