@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="pt-4" style="min-height: 36rem;">
        <div class="mt-4 p-4 mx-auto max-w-sm border-0 sm:!rounded-lg sm:!border rounded-none border-gray-300 dark:border-gray-500 bg-white dark:bg-gray-800 flex flex-col justify-center items-center">
            <img class="h-10 w-9" src="assets/images/common/brand-logos/svg/vector.svg" alt="logo" />
            <div class="flex justify-center items-center">
                <input ejs-rating [value]="4.0" [showLabel]="true" precision="Exact" enableAnimation="false" [emptyTemplate]="emptyTemplate" [fullTemplate]="fullTemplate" [labelTemplate]="labelTemplate" aria-label="rate us out of 5" role="slider" style="min-height: 53px;"/>
                <ng-template #emptyTemplate>
                    <span class="sf-icon-star-filled-01 text-2xl text-gray-300 dark:text-gray-500"></span>
                </ng-template>
                <ng-template #fullTemplate>
                    <span class="sf-icon-star-filled-01 text-2xl text-amber-300"></span>
                </ng-template>
                <ng-template #labelTemplate let-data>
                    <p class="!text-gray-900 dark:!text-white text-sm font-medium">{{ data?.value | number:'1.1' }} / 5.0</p>
                </ng-template>
            </div>
            <p class="text-sm text-gray-500 dark:text-gray-400">based on 135 ratings</p>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body-tertiary">
    <div class="pt-4" style="min-height: 36rem;">
        <div class="mt-4 p-3 mx-auto rounded-3 border d-flex flex-column justify-content-center align-items-center bg-body" style="max-width: 384px;">
            <img src="assets/images/common/brand-logos/svg/vector.svg" alt="logo" style="height: 40px; width: 36px;" />
            <div class="flex mt-1">
                <input ejs-rating [value]="4.0" [showLabel]="true" precision="Exact" [emptyTemplate]="emptyTemplate" [fullTemplate]="fullTemplate" [labelTemplate]="labelTemplate" aria-label="rate us out of 5" role="slider" style="min-height: 53px;" />
                <ng-template #emptyTemplate>
                    <span class="sf-icon-star-02 fs-4 d-flex align-items-center text-body-secondary"></span>
                </ng-template>
                <ng-template #fullTemplate>
                    <span class="sf-icon-star-filled-01 fs-4 d-flex align-items-center text-warning"></span>
                </ng-template>
                <ng-template #labelTemplate let-data>
                   <span class="fs-6">
                        <p class="text-body mb-0">{{ data?.value | number:'1.1' }} / 5.0</p>
                    </span>
                </ng-template>
            </div>
            <p class="small text-body-secondary mb-0 mt-2">based on 135 ratings</p>
        </div>
    </div>
</section>

}