#dialog-container .e-dialog .e-dlg-header-content {
    border-bottom-width: 0;
}

#dialog-container .e-dialog .e-footer-content {
    border-top: inherit;
    border-top-width: 1px;
}

#dialog-container .e-file-select-wrap {
    display: none;
}

#dialog-container .e-upload {
    float: none;
    border: none;
}

#dialog-container .e-upload .e-upload-files .e-upload-file-list {
    border-bottom: 0;
}