@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-950">
    <div id="target" class="w-full" [ngStyle]="{ height: isMobileView ? '580px' : '690px' }">
        <div class="flex items-center justify-center pt-4 block sm:hidden">
            <button ejs-button cssClass="e-primary e-round e-bigger" iconCss="sf-icon-help-circle !text-xl" type="button" (click)="toggleDialog()" aria-label="open contact us form" role="button"></button>
        </div>
        <ejs-dialog #dialog id="floating-chat" class="sm:!rounded-2xl !rounded-none overflow-hidden !border-0" [width]="isMobileView ? '400px' : '350px'" (open)="setDialogPosition($event)" (created)="dialog.show()" aria-label="chat with AI assistant" role="dialog">
            <ng-template #header>
                <div class="pt-4 pb-5 bg-primary-600 dark:bg-primary-400">
                    <div class="flex justify-end block sm:hidden px-4 absolute right-0">
                        <button ejs-button cssClass="e-primary e-round" iconCss="e-icons e-close !leading-5 text-white dark:text-black" type="button" (click)="toggleDialog()" aria-label="close contact us form" role="button"></button>
                    </div>
                    <div class="flex flex-col items-center pt-2">
                        <h2 class="text-white dark:text-black font-semibold text-sm">Chat with our AI</h2>
                        <p class="pt-2 pb-4 text-center text-wrap w-44 text-xs font-medium text-white dark:text-black">Ask any question and our AI will answer</p>
                        <button ejs-button class="rounded-2xl !border !border-white dark:!border-black" cssClass="e-primary" content="New chat" type="button" aria-label="new chat" role="button"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template #content>
                <div id="assistview-tw" class="bg-primary-600 dark:bg-primary-400 px-4 pb-4">
                    <div class="bg-white dark:bg-gray-800 flex flex-col rounded-2xl px-3" style="height: 410px;">
                        <div ejs-aiassistview #aiAssistViewComponent cssClass="rounded-lg" promptPlaceholder="Type your message here..." (promptRequest)="onPromptRequest()" [prompts]="promptMessages" aria-label="send a prompt to the AI assistant" role="button"></div>
                        <p class="text-center text-xs font-normal mt-2 mb-3 text-gray-700 dark:text-gray-300">Powered by <span class="font-semibold dark:text-white">Remall</span></p>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
        <button ejs-fab #fab class="!hidden sm:!block" cssClass="e-primary e-round e-bigger" [iconCss]="toggleState?'sf-icon-help-circle !text-2xl':'e-icons e-close !text-2xl'" position="BottomRight" type="button" target="#target" (click)="toggleDialog()" aria-label="show/hide AI assistant" role="button"></button>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body">
    <div id="target" class="w-100" [ngStyle]="{ height: isMobileView ? '580px' : '690px' }">
        <div class="d-flex align-items-center justify-content-center pt-4 d-block d-sm-none">
            <button ejs-button cssClass="e-primary e-round e-bigger" iconCss="sf-icon-help-circle fs-5 lh-base" type="button" (click)="toggleDialog()" aria-label="open contact us form" role="button"></button>
        </div>
        <ejs-dialog #dialog id="floating-chat" class="rounded-4 overflow-hidden border-0" [width]="isMobileView ? '400px' : '350px'" (open)="setDialogPosition($event)" (created)="dialog.show()" aria-label="chat with AI assistant" role="dialog">
            <ng-template #header>
                <div class="py-4 bg-primary">
                    <div class="d-flex justify-content-end d-block d-sm-none px-3 top-0 pt-3 position-absolute end-0">
                        <button ejs-button class="e-primary e-round" iconCss="e-icons e-close text-white" type="button" (click)="toggleDialog()" aria-label="close contact us form" role="button"></button>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <h2 class="text-white fw-bold small mb-0">Chat with our AI</h2>
                        <p class="pt-2 pb-3 text-center text-wrap mb-0 w-50 text-white small fw-medium">Ask any question and our AI will answer</p>
                        <button ejs-button cssClass="e-primary rounded-5 px-3 border border-white" content="New chat" type="button" aria-label="new chat" role="button"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template #content>
                <div id="assistview-bs" class="bg-primary px-3 pb-3">
                    <div class="bg-body d-flex flex-column rounded-4 px-3" style="height: 398px;">
                        <div ejs-aiassistview #aiAssistViewComponent cssClass="rounded" promptPlaceholder="Type your message here..." (promptRequest)="onPromptRequest()" [prompts]="promptMessages" aria-label="send a prompt to the AI assistant" role="button"></div>
                        <p class="text-center small fw-normal mt-2 mb-3 text-body-secondary">Powered by <span class="fw-medium text-body">Remall</span></p>
                    </div>
                </div>
            </ng-template>
        </ejs-dialog>
        <button ejs-fab #fab class="d-none d-sm-block" cssClass="e-primary e-round e-bigger" [iconCss]="toggleState?'sf-icon-help-circle fs-5 lh-base':'e-icons e-close fs-5 lh-base'" position="BottomRight" type="button" target="#target" (click)="toggleDialog()" aria-label="show/hide AI assistant" role="button"></button>
    </div>
</section>

}