@if (currentTheme === 'tailwind') {

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="px-4 sm:px-6 xl:px-11 py-12">
        <div class="grid sm:grid-cols-2 gap-6 lg:gap-4 lg:grid-cols-4">
            <div *ngFor="let data of metricsData" class="e-card pt-6 e-bigger rounded-lg shadow-none !border-gray-300 dark:!border-gray-600">
                <div class="e-card-stacked">
                    <div class="e-card-header !py-0 !justify-between items-center">
                        <h4 class="text-base text-gray-800 dark:text-gray-100 font-medium">{{data.metricName}}</h4>
                        <span class="text-2xl !leading-none" [ngClass]="{'text-green-700 dark:text-green-500 sf-icon-arrow-missed-right': data.metricName === 'Total Revenue','text-orange-700 dark:text-orange-500 sf-icon-pie-chart': data.metricName === 'Market Breadth','text-indigo-600 dark:text-indigo-400 e-chart': data.metricName === 'Trending Volume','text-gray-500 dark:text-gray-300 e-critical-path': data.metricName === 'VIX','e-icons': data.metricName === 'Trending Volume' || data.metricName === 'VIX'}"></span>
                    </div>
                    <div class="e-card-content !pb-6">
                        <p class="mt-2 text-xl !leading-7 font-semibold text-gray-900 dark:text-white">{{data.currentValue | number}}</p>
                        <p class="mt-1 font-medium" [ngClass]="{'text-green-700 dark:text-green-500': data.metricName === 'Total Revenue','text-red-600 dark:text-red-400': data.metricName === 'VIX','text-gray-800 dark:text-gray-100': data.metricName === 'Market Breadth'|| data.metricName === 'Trending Volume'}">{{data.valueDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

} @else if (currentTheme === 'bootstrap5.3') {

<section class="bg-body-tertiary">
    <div class="px-3 px-sm-4 px-xl-5 py-5">
        <div class="row g-4 g-lg-3">
            <div *ngFor="let data of metricsData" class="col-12 col-sm-6 col-lg-3">
                <div class="e-card rounded-3 e-bigger pt-4">
                    <div class="e-card-stacked">
                        <div class="e-card-header py-0 px-4 d-flex justify-content-between align-items-center">
                            <h4 class="fs-6 text-body-secondary lh-base fw-medium mb-0">{{data.metricName}}</h4>
                            <span class="fs-4" [ngClass]="{'text-success sf-icon-arrow-missed-right': data.metricName === 'Total Revenue','text-warning sf-icon-pie-chart': data.metricName === 'Market Breadth','text-primary e-chart': data.metricName === 'Trending Volume','text-secondary e-critical-path': data.metricName === 'VIX','e-icons': data.metricName === 'Trending Volume' || data.metricName === 'VIX'}"></span>
                        </div>
                        <div class="e-card-content pb-4 pt-0 px-4">
                            <p class="mt-2 fs-5 lh-sm fw-bold text-body mb-1">{{data.currentValue | number}}</p>
                            <p class="fw-medium mb-0 lh-base" [ngClass]="{'text-success': data.metricName === 'Total Revenue','text-danger': data.metricName === 'VIX','text-body-secondary': data.metricName === 'Market Breadth' || data.metricName === 'Trending Volume'}">{{data.valueDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}